.devise-panel {
  width: 300px;
  height: 450px;
  margin: 0 auto;
}
.content {
  margin-left: 40px;
  margin-right: 40px;
}
.btn-margin-buttom {
  margin-bottom: 10px;
}

.panel-body {
  min-height: 150px;
}

.comment-box{
  .panel-body {
    min-height: 50px;
  }
}

.lb-sm {
  font-size: 12px;
}

.lb-md {
  font-size: 16px;
}

.lb-lg {
  font-size: 20px;
}